* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

button {
	background-color: #fff;
	color: #323243;
	border: 2px solid #cecece;
}
button:hover {
	background-color: #eee;
}

h1 {
	margin: 5px 0 10px 0;
}

.grid-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 250px 1fr;
	height: 100vh;
	width: 100vw;
	grid-template-rows: 100%;
}

#map-container {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	position: relative;
}

#map {
	height: 100%;
	width: 100%;
}

#zoomcontrols {
	display: block;
	position: absolute;
	width: 450px;
	height: 40px;
	font-size: 15px;
	line-height: 40px;
	background-color: #fff;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: 15px auto;
	/*https://www.w3schools.com/csS/css3_shadows_box.asp*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	padding: 0 10px;
	color: #323243;
}

#zoomcontrols * {
	display: inline-block;
	height: 100%;
	font-size: 15px;
}

#zoomcontrols select {
	width: 135px;
}

#zoomcontrols button {
	border-top: none;
	border-bottom: none;
	padding: 0 15px;
}

#zoomIn,
#zoomOut {
	margin-right: -2px;
}

#loading-message {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 300px;
	top: calc(50vh - 112px);
	z-index: 9999;
	background-color: #ffffffdb;
	border-radius: 20px;
	font-weight: bold;
	color: #333;
	font-size: 22px;
	padding: 45px;
	text-align: center;
}

#sidebar {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	background-color: #fff;
	color: #323243;
	font-size: 15px;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 999; /*for shadow to show up*/
	position: relative; /*to position reset button*/
}

/* CHECKBOXES DATASETS*/
.labelDataset {
	display: inline-block;
	font-weight: bold;
}
.labelDataset input {
	position: absolute;
	left: 2px;
}
.layerHeader {
	position: relative;
	width: 100%;
	border-top: 2px solid #ccc;
	padding: 10px 0 2px 20px;
	margin: 3px 0;
}
.infoButton {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	margin: 5px 0;
	width: 22px;
	height: 22px;
	border-radius: 11px;
	line-height: 21px;
	font-weight: bold;
	cursor: pointer;
}
.infoButton:hover {
	background-color: #eee;
}

/* CHECKBOXES LEGENDS */

/* style checkbox container (label element) */
.checkbox-container {
	display: block;
	position: relative;
	padding: 4px 4px 4px 20px;
	cursor: pointer;
	user-select: none;
}
/* hide default checkbox */
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
/* create circles as checkboxes */
.checkmark {
	position: absolute;
	top: 4px;
	left: 0;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin: 0 3px;
}
/* color circle grey when not checked */
.checkbox-container input:not(:checked) ~ .checkmark {
	background-color: grey !important;
}
/* add diagonal line */
.checkbox-container .checkmark::after {
	content: "";
	position: absolute;
	display: block;
	border-bottom: 2px solid #323243;
	width: 20px;
	transform: rotate(-45deg);
	transform-origin: 0% 100%;
	height: 12px;
}
/* hide diagonal line when checked */
.checkbox-container input:checked ~ .checkmark:after {
	display: none;
}
/* highlight on hover */
.checkbox-container:hover {
	background-color: #eee;
}

button#captureScreenshot,
button#resetFilters {
	padding: 10px;
	border-radius: 10px;
}
button#resetFilters {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 10px;
	width: 150px;
}
button#captureScreenshot {
}

.hidden {
	display: none !important;
}
