* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

h1 {
	margin: 5px 0 10px 0;
}

label {
	padding: 5px;
}

.grid-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 250px;
	height: 100vh;
	width: 100vw;
	grid-template-rows: 100%;
}

#map {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
}

#sidebar {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	background-color: #eee;
	padding: 10px;
}

#loading-message {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 300px;
	top: calc(50vh - 112px);
	z-index: 9999;
	background-color: #ffffffb8;
	border-radius: 20px;
	font-weight: bold;
	color: #333;
	font-size: 22px;
	padding: 45px;

	text-align: center;
}

.legend {
	margin-left: 20px;
}
.legendCircle {
	width: 12px;
	height: 12px;
	border-radius: 6px;
	display: inline-block;
	margin: 0 3px;
}

.legendLabel {
	display: inline-block;
	padding: 3px;
}

.hidden {
	display: none !important;
}
